<p>Recherche produits : </p>

<!--  Recherche -->
<form [formGroup]="searchGroup">
  <div class="input-group">
    <div class="search-bar">
      <input formControlName="search" type="search" name="search" pattern=".*\S.*" required>
      <button class="search-btn" type="submit" (click)="search()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <form formGroupName="category" class="badge__container">
    <!--  Badge -->
    <div class="badge badge--livre">
      <label for="livre">Livre</label>
      <input id="livre" type="checkbox" formControlName="livre">
    </div>
    
    <div class="badge badge--manga">
      <label for="manga">Manga</label>
      <input id="manga" type="checkbox" formControlName="manga">
    </div>
    
    <div class="badge badge--jeu">
      <label for="jeu">Jeu</label>
      <input id="jeu" type="checkbox" formControlName="jeu">
    </div>
  </form>
</form>
