<p>Recherche produits : </p>

<!--  Recherche -->
<div class="input-group">
  <div class="search-bar">
    <input [formControl]="searchControl" type="search" name="search" pattern=".*\S.*" required>
    <button class="search-btn" type="submit" (click)="search()">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </div>
</div>

<div class="container">
  <!--  Badge -->
  <div class="badge livre">
    <span>
      <a class="dropdown-item" (click)="onChangeCategory('Livre')">Livre</a>
    </span>
  </div>
  <div class="badge manga">
    <span>
      <a class="dropdown-item" (click)="onChangeCategory('Manga')">Manga</a>
    </span>
  </div>
  <div class="badge jeu">
    <span>
      <a class="dropdown-item" (click)="onChangeCategory('Jeu')">Jeu</a>
    </span>
  </div>
</div>
