<h2>Catalogue produit :</h2>
<p> nom de la recherche : {{searchProduct}}</p>

<div class="center" *ngFor="let produit of produit$ | async " >
    <div class="card col-md-4 rounded">
        <div class="card-header title">{{produit.name}}</div>
        <img class="rounded" src="{{produit.image}}" alt="">
        <p>
          <strong>Description :</strong>
          <br>{{produit.description}}
        </p>
        <p><strong>Prix :</strong> {{produit.price}} €</p>
        <!-- <p>Quantité : {{produit.quantity}}</p> -->
        <!-- <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button> -->
        <button class="btn btn-success" >Ajouter au panier</button>
    </div>
</div>
