<div class="container">
  <h2>Mon panier</h2>

  <div *ngIf="(produits$ | async)?.length == 0">
    <p>Le panier est vide</p>
  </div>

  <ul class="media-list">
    <li *ngFor="let produit of produits$| async; index as i" class="media">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media-left">
            <img class="media-object" src="{{produit.image}}" alt="...">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{produit.name}}</h4>
            <p>{{produit.description}}</p>
            <p>Prix : {{produit.price}} €</p>
          </div>
        </div>
      </div>
  </ul>
</div>
