<p>Recherche produits : </p>

<!--<div class="search-hero">-->
<!--    <input class="form-control" type="text" name="search" placeholder="Rechercher un produit" -->
<!--    [(ngModel)]="searchText" (ngModelChange)="searchChange()">-->
<!--    &lt;!&ndash; <button type="button" class="btn btn-primary" (click)="ngOnChanges()">Rechercher</button> &ndash;&gt;-->
<!--</div>-->
<!--<div class="form-check">-->
<!--    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">-->
<!--    <label class="form-check-label" for="flexCheckDefault">-->
<!--      > 10€-->
<!--    </label>-->
<!--  </div>-->

<div class="input-group">
  <div class="search-bar">
    <input [(ngModel)]="searchText" (ngModelChange)="searchChange()" type="search" name="search" pattern=".*\S.*" required>
    <button class="search-btn" type="submit">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </div>
</div>
