<div class="container">
  <h1>Détail du produit</h1>
<!--  <div *ngIf="produit" class="panel panel-default">-->
<!--    <div class="panel-heading">-->
<!--      <h3 class="panel-title">{{produit.name}}</h3>-->
<!--    </div>-->
<!--    <div class="panel-body">-->
<!--      <div class="media-left">-->
<!--        <img class="media-object" src="{{produit.image}}" alt="...">-->
<!--      </div>-->
<!--      <div class="media-body">-->
<!--        <p>{{produit.description}}</p>-->
<!--        <p>Catégorie : {{produit.category}}</p>-->
<!--        <p>Prix : {{produit.price}} €</p>-->
<!--        <p>{{produit.summary}}</p>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>


<!--        <button (click)="addToCart(product)" type="button" class="btn btn-primary">-->
<!--          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter au panier-->
<!--        </button>-->
